* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    background-color: #EFEFEF;
}

header {
    background: #00bfff;
    border: 1px solid #928e8e;
    padding: 5px;
}

h1 {
    display: inline-block;
    font-size: 2.5rem;
}

header .categoryAdd, .logOut {
    float: right;
    margin: 10px 5px 0 0;
    font-size: 2rem;
    color: #0081ac;
}

header .categoryAdd {
    margin-right: 30px;
}

.categoryAdd:hover #addCat, .categoryAdd #btnAdd {
    display: none;
}

.categoryAdd:hover #btnAdd {
    display: inline-block;
    cursor: pointer;
}

.logOut:hover #log_out, .logOut #btnLogOut {
    display: none;
}

.logOut:hover #btnLogOut {
    display: inline-block;
    cursor: pointer;
}

section {
    width: 600px;
    margin: 10px auto 0 auto;
    text-align: center;
    background-color: #00bfff;
    border-radius: 20px;
}

section h2 {
    font-size: 2rem;
}

section p {
    font-size: 1.5rem;
}

#categoryWrapper {
    width: 600px;
    margin: 20px auto 0 auto;
    text-align: center;
    background-color: #00bfff;
    border-radius: 20px;
}

#categoryWrapper table {
    margin-top: 20px;
    width: 100%;
    font-size: 1.5rem;
}

#categoryWrapper img {
    width: 100px;
    height: 100px;
}

.delLink {
    font-size: 2.7rem;
    color: #0081ac;
}

.delLink:hover #imgDel, .delLink #btnDel {
    display: none;
}

.delLink:hover #btnDel {
    display: inline-block;
    cursor: pointer;
}

.link {
    font-size: 2.7rem;
    color: #0081ac;
}

.link:hover #imgUpdate, .link #btnUpdate {
    display: none;
}

.link:hover #btnUpdate {
    display: inline-block;
    cursor: pointer;
}