* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    background-color: #EFEFEF;
}

header {
    background: #00bfff;
    border: 1px solid #928e8e;
    padding: 5px;
}

h1 {
    display: inline-block;
    font-size: 2.5rem;
}

nav {
    height: 50px;
    background-color: #00bfff;
}

header .logOut, .adAdd, .watch {
    float: right;
    margin: 10px 5px 0 0;
    font-size: 2rem;
    color: #0081ac;
}

header .adAdd, .watch {
    margin-right: 30px;
}

.watch:hover #img_watch, .watch #btn_watch {
    display: none;
}

.watch:hover #btn_watch {
    display: inline-block;
    cursor: pointer;
}

.adAdd:hover #addAd, .adAdd #btnAdd {
    display: none;
}

.adAdd:hover #btnAdd {
    display: inline-block;
    cursor: pointer;
}

.logOut:hover #log_out, .logOut #btnLogOut {
    display: none;
}

.logOut:hover #btnLogOut {
    display: inline-block;
    cursor: pointer;
}

section {
    width: 90%;
    margin: 10px auto 0 auto;
    text-align: center;
}

section #userProfile, #title {
    width: 50%;
    margin: 0 auto;
    background-color: #00bfff;
}

section #title, #firstLastName {
    font-size: 2rem;
}

section p {
    font-size: 1.5rem;
}

#userAds {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

#userAds .container {
    float: left;
    flex: content;
    width: calc(100% / 3.03);
    height: 580px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #48adcf;
}

#userAds .container img {
    width: 200px;
    height: 200px;
}

#userAds .container .catTitle {
    height: 20%;
    overflow: hidden;
    overflow-y: auto;
}

#userAds p {
    font-size: 1rem;
}

#userAds .description {
    margin-top: 10px;
    max-height: 60px;
    overflow: hidden;
    overflow-y: auto;
}

#userAds #update_link {
    display: block;
    margin-top: 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

#userAds #update_link:hover {
    font-size: 1.5rem;
    text-decoration: underline;
    color: red;
}

#select {
    text-align: left;
    margin: 20px 0 0 150px;
    font-size: 1.2rem;
}

#select select, #filter {
    font-size: 1.1rem;
}

#select #filter:hover {
    background-color: red;
    color:yellow;
    cursor: pointer;
}

.delLink {
    float: right;
    margin: 0 10px 3px 0;
    font-size: 2rem;
    color: #0081ac;
}

.delLink:hover #imgDel, .delLink #btnDel {
    display: none;
}

.delLink:hover #btnDel {
    display: inline-block;
    cursor: pointer;
}